includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    # Nivel 5 de 10: detecta tipos incorrectos, variables indefinidas,
    # y llamadas a métodos que no existen. Buen punto de partida.
    level: 5

    paths:
        - app

    ignoreErrors:
        - '#Attribute class OpenApi\\Attributes#'
        - '#Instantiated class OpenApi\\Attributes#'

